alias ll='ls -l'
alias lla='clear && ls -lha'
alias d='docker'
alias dps='docker ps'
alias dpa='docker ps -a'
alias di='docker images'
alias dr='docker rm '
alias dri='docker rmi '
alias dc='docker-compose'
alias t='terraform'
alias k='kubectl'
